body {
  background-color: #111;
  color: white;
  font-family: Helvetica, sans-serif, Arial;
  margin: 0;
}
.original__movies,
.movies .movies__container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.original__movies img:hover,
.movies .movies__container img:hover {
  transform: scale(1.1);
}
.original__movies img,
.movies__container img {
  transition: all 0.2s;
}
.original__movies::-webkit-scrollbar {
  display: none;
}
.movies__container::-webkit-scrollbar {
  display: none;
}

.original__movies img {
  padding-right: 10px;
  height: 250px;
  width: auto;
}
.netflixOriginals h2,
.movies__header h2 {
  padding-left: 30px;
}
.movies__container img {
  margin-right: 10px;
  width: 200px;
}

img {
  width: 100px;
}
.featured {
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1606247193592-53da505571f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=408&q=80");
  background-size: cover;
  background-position: center;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.featured h2 {
  font-size: 50px;
  margin: 0;
  z-index: 10;
}
.featured .featured__buttons button {
  font-size: 16px;
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
  border: none;
  padding: 8px 24px;
  margin-top: 8px;
  border-radius: 4px;
}
.featured__buttons {
  z-index: 10;
}
.featured .featured__description {
  max-width: 350px;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  z-index: 10;
}
.featured::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.featured::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7.4rem;

  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.featured .featured__buttons .button__play {
  background-color: white;
  color: black;
}
.button__play i {
  margin-right: 6px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.logo > img {
  width: 120px;
}
.profile > img {
  width: 40px;
}
.modal-body iframe {
  width: 100%;
}
.modal-content {
  background-color: black;
  border-radius: 20px;
  border: 3px solid rgb(87, 85, 85);
}
.modal-body span {
  color: rgb(255, 251, 251);
  font-size: x-large;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-header button{
  color:white;
  z-index:100;
}
